fastapi>=0.100.0
uvicorn[standard]
cryptography>=42.0.0  # Thư viện chuẩn của Python để mã hóa AES-GCM
hvac          # SDK chính thức để nói chuyện với HashiCorp Vault
pyjwt[crypto]>=2.8.0
requests>=2.31.0